.ChatBot {
    &-Wrapper {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    &-Message {

    }

    &-Trigger {
        img {
            cursor: pointer;
            width: 60px;
            margin: 20px;
        }
    }
}