.ChatBot {
    &-Wrapper {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    &-Message {
        background-color: rgb(217, 245, 250);
        border-radius: 10px;
        margin: 0 20px -10px;
        padding: 10px;

        ul {
            margin: 0px;
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 6.5px;
                list-style: none;
                display: flex;
                align-items: center;
                padding: 0px;
                img {
                    max-width: 30px;
                    margin-right: 10px;
                    border-radius: 100%;
                }
                p {
                    background-color: #fff;
                    margin: 0;
                    flex-grow: 1;
                    padding: 6px;
                    border-radius: 5px;
                }
                &.GuestImg {
                    img {
                        order: 2;
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
        form {
            margin-top: 10px;
            input {
                border-radius: 5px;
                padding: 6px;
                display: block;
                width: 100%;
            }
        }
    }

    &-Trigger {
        text-align: right;
        img {
            cursor: pointer;
            width: 50px;
            margin: 20px;
        }
    }
}